# Python
venv/
__pycache__/
*.pyc

# Electron / Node
node_modules/
dist/
build/

# ignore build/artifacts
/release/
server.spec

# macOS
.DS_Store

frontend/tools/tailwindcss
frontend/tools/tailwindcss.exe
out/